@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,900');

* {
  font-family: 'Nunito', sans-serif;
}

.tab-button {

  & > ion-icon {
    color: #4096EE!important;
  }

  & > span {
    color: #4096EE;
  }
}